SpeechRecognition
streamlit
streamlit-ace
streamlit-extras
keras
pdf2image
gtts
pillow
google.generativeai
IPython
streamlit-lottie
requests
youtube-transcript-api
streamlit-option-menu
streamlit-webrtc
seaborn
streamlit_shadcn_ui
PyPDF2
deepface
Django
Pillow
PyPDF2
deepface
mediapipe
opencv-python-headless
googletrans
