SpeechRecognition
streamlit
streamlit-ace
streamlit-extras
keras==2.1.5
pdf2image
gtts
pillow
google.generativeai
IPython
streamlit-lottie
requests
youtube-transcript-api
streamlit-option-menu
streamlit-webrtc
seaborn
streamlit_shadcn_ui
PyPDF2
deepface
Django
Pillow
PyPDF2
deepface
speech_recognition
mediapipe
